# python 3.11.10
Package                           Version
--------------------------------- --------------
absl-py                           2.1.0
accelerate                        1.0.1
addict                            2.4.0
aiofiles                          23.2.1
aiohappyeyeballs                  2.4.3
aiohttp                           3.10.10
aiosignal                         1.3.1
aliyun-python-sdk-core            2.16.0
aliyun-python-sdk-kms             2.16.5
altair                            5.4.1
annotated-types                   0.7.0
antlr4-python3-runtime            4.9.3
anyio                             4.6.2.post1
appdirs                           1.4.4
argon2-cffi                       23.1.0
argon2-cffi-bindings              21.2.0
arrow                             1.3.0
arxiv                             2.1.3
asttokens                         2.4.1
async-lru                         2.0.4
attrdict                          2.0.1
attrs                             24.2.0
babel                             2.16.0
beautifulsoup4                    4.12.3
binpacking                        1.5.2
bitsandbytes                      0.44.1
bleach                            6.1.0
blinker                           1.8.2
Brotli                            1.1.0
cachetools                        5.5.0
certifi                           2024.8.30
cffi                              1.17.1
charset-normalizer                3.4.0
click                             8.1.7
cloudpickle                       3.1.0
colorama                          0.4.6
comm                              0.2.2
compressed-tensors                0.6.0
contourpy                         1.3.0
cpm-kernels                       1.0.11
crcmod                            1.7
cryptography                      43.0.3
cycler                            0.12.1
dacite                            1.8.1
dataclasses-json                  0.6.7
datasets                          2.21.0
debugpy                           1.8.7
decorator                         4.4.2
decord                            0.6.0
deepspeed                         0.15.2
defusedxml                        0.7.1
dill                              0.3.8
diskcache                         5.6.3
distro                            1.9.0
docstring_parser                  0.16
duckduckgo_search                 5.3.1b1
editdistance                      0.8.1
einops                            0.8.0
et-xmlfile                        1.1.0
eval_type_backport                0.2.0
evalscope                         0.5.5
evaluate                          0.4.3
executing                         2.1.0
fastapi                           0.115.2
fastjsonschema                    2.20.0
feedparser                        6.0.11
ffmpy                             0.4.0
filelock                          3.16.1
fire                              0.7.0
flash_attn                        2.6.3
fonttools                         4.54.1
fqdn                              1.5.1
frozenlist                        1.4.1
fsspec                            2024.6.1
func_timeout                      4.3.5
future                            1.0.0
fuzzywuzzy                        0.18.0
gguf                              0.10.0
gitdb                             4.0.11
GitPython                         3.1.43
gradio                            5.1.0
gradio_client                     1.4.0
greenlet                          3.1.1
griffe                            0.49.0
grpcio                            1.67.0
h11                               0.14.0
h2                                4.1.0
h5py                              3.12.1
hjson                             3.1.0
hpack                             4.0.0
httpcore                          1.0.6
httptools                         0.6.4
httpx                             0.27.2
huggingface-hub                   0.26.1
human-eval                        1.0.3
hyperframe                        6.0.1
idna                              3.10
imageio                           2.36.0
imageio-ffmpeg                    0.5.1
immutabledict                     4.2.0
importlib_metadata                8.5.0
interegular                       0.3.3
ipykernel                         6.29.5
ipython                           8.28.0
ipywidgets                        8.1.5
isoduration                       20.11.0
jedi                              0.19.1
jieba                             0.42.1
Jinja2                            3.1.4
jiter                             0.6.1
jmespath                          0.10.0
joblib                            1.4.2
json5                             0.9.25
jsonlines                         4.0.0
jsonpatch                         1.33
jsonpointer                       3.0.0
jsonschema                        4.23.0
jsonschema-specifications         2024.10.1
jupyter                           1.1.1
jupyter_client                    8.6.3
jupyter-console                   6.6.3
jupyter_core                      5.7.2
jupyter-events                    0.10.0
jupyter-lsp                       2.2.5
jupyter_server                    2.14.2
jupyter_server_terminals          0.5.3
jupyterlab                        4.2.5
jupyterlab_pygments               0.3.0
jupyterlab_server                 2.27.3
jupyterlab_widgets                3.0.13
kiwisolver                        1.4.7
lagent                            0.2.4
langchain                         0.3.4
langchain-community               0.3.3
langchain-core                    0.3.12
langchain-openai                  0.2.3
langchain-text-splitters          0.3.0
langsmith                         0.1.136
lark                              1.2.2
Levenshtein                       0.26.0
llvmlite                          0.43.0
lm-format-enforcer                0.10.6
loguru                            0.7.2
lxml                              5.3.0
Markdown                          3.7
markdown-it-py                    3.0.0
MarkupSafe                        2.1.5
marshmallow                       3.23.0
matplotlib                        3.9.2
matplotlib-inline                 0.1.7
mdurl                             0.1.2
mistral_common                    1.4.4
mistune                           3.0.2
mmengine                          0.10.5
mmengine-lite                     0.10.5
modelscope                        1.18.1
moviepy                           1.0.3
mpmath                            1.3.0
ms-opencompass                    0.1.2
ms-swift                          2.5.1
ms-vlmeval                        0.0.9
msgpack                           1.1.0
msgspec                           0.18.6
mteb                              1.16.0
multidict                         6.1.0
multiprocess                      0.70.16
mypy-extensions                   1.0.0
narwhals                          1.10.0
nbclient                          0.10.0
nbconvert                         7.16.4
nbformat                          5.10.4
nest-asyncio                      1.6.0
networkx                          3.4.2
ninja                             1.11.1.1
nltk                              3.9.1
notebook                          7.2.2
notebook_shim                     0.2.4
numba                             0.60.0
numpy                             1.26.4
nvidia-cublas-cu12                12.1.3.1
nvidia-cuda-cupti-cu12            12.1.105
nvidia-cuda-nvrtc-cu12            12.1.105
nvidia-cuda-runtime-cu12          12.1.105
nvidia-cudnn-cu12                 9.1.0.70
nvidia-cufft-cu12                 11.0.2.54
nvidia-curand-cu12                10.3.2.106
nvidia-cusolver-cu12              11.4.5.107
nvidia-cusparse-cu12              12.1.0.106
nvidia-ml-py                      12.560.30
nvidia-nccl-cu12                  2.20.5
nvidia-nvjitlink-cu12             12.4.127
nvidia-nvtx-cu12                  12.1.105
omegaconf                         2.3.0
openai                            1.52.0
OpenCC                            1.1.9
opencv-python                     4.10.0.84
opencv-python-headless            4.10.0.84
openpyxl                          3.1.5
orjson                            3.10.9
oss2                              2.19.0
outlines                          0.0.46
overrides                         7.7.0
packaging                         24.1
pandas                            2.2.3
pandocfilters                     1.5.1
parso                             0.8.4
partial-json-parser               0.2.1.1.post4
peft                              0.12.0
pexpect                           4.9.0
phx-class-registry                4.1.0
pillow                            10.4.0
pip                               24.2
platformdirs                      4.3.6
plotly                            5.24.1
ply                               3.11
polars                            1.10.0
portalocker                       2.10.1
prettytable                       3.11.0
proglog                           0.1.10
prometheus_client                 0.21.0
prometheus-fastapi-instrumentator 7.0.0
prompt_toolkit                    3.0.48
propcache                         0.2.0
protobuf                          5.28.2
psutil                            6.1.0
ptyprocess                        0.7.0
pure_eval                         0.2.3
py-cpuinfo                        9.0.0
pyairports                        2.1.1
pyarrow                           17.0.0
pycountry                         24.6.1
pycparser                         2.22
pycryptodome                      3.21.0
pydantic                          2.9.2
pydantic_core                     2.23.4
pydantic-settings                 2.6.0
pydeck                            0.9.1
pydub                             0.25.1
Pygments                          2.18.0
Pympler                           1.1
pyparsing                         3.2.0
pypinyin                          0.53.0
pysbd                             0.3.4
python-dateutil                   2.9.0.post0
python-dotenv                     1.0.1
python-json-logger                2.0.7
python-Levenshtein                0.26.0
python-multipart                  0.0.12
pytrec-eval-terrier               0.5.6
pytz                              2024.2
PyYAML                            6.0.2
pyzmq                             26.2.0
ragas                             0.2.1
rank-bm25                         0.2.2
RapidFuzz                         3.10.0
ray                               2.37.0
referencing                       0.35.1
regex                             2024.9.11
requests                          2.32.3
requests-toolbelt                 1.0.0
rfc3339-validator                 0.1.4
rfc3986-validator                 0.1.1
rich                              13.9.2
rouge                             1.0.1
rouge-chinese                     1.0.3
rouge_score                       0.1.2
rpds-py                           0.20.0
ruff                              0.7.0
sacrebleu                         2.4.3
safetensors                       0.4.5
scikit-learn                      1.5.2
scipy                             1.14.1
seaborn                           0.13.2
semantic-version                  2.10.0
Send2Trash                        1.8.3
sentence-transformers             3.2.1
sentencepiece                     0.2.0
setuptools                        69.5.1
sgmllib3k                         1.0.0
shellingham                       1.5.4
shtab                             1.7.1
simple-ddl-parser                 1.7.1
simplejson                        3.19.3
six                               1.16.0
smmap                             5.0.1
sniffio                           1.3.1
socksio                           1.0.0
sortedcontainers                  2.4.0
soupsieve                         2.6
SQLAlchemy                        2.0.36
stack-data                        0.6.3
starlette                         0.40.0
streamlit                         1.39.0
sty                               1.0.6
sympy                             1.13.1
tabulate                          0.9.0
tenacity                          9.0.0
tensorboard                       2.18.0
tensorboard-data-server           0.7.2
termcolor                         2.5.0
terminado                         0.18.1
threadpoolctl                     3.5.0
tiktoken                          0.7.0
timeout-decorator                 0.5.0
tinycss2                          1.3.0
tokenizers                        0.20.1
toml                              0.10.2
tomli                             2.0.2
tomlkit                           0.12.0
torch                             2.4.0
torchvision                       0.19.0
tornado                           6.4.1
tqdm                              4.66.5
traitlets                         5.14.3
transformers                      4.45.2
transformers-stream-generator     0.0.5
triton                            3.0.0
trl                               0.11.4
typer                             0.12.5
types-python-dateutil             2.9.0.20241003
typing_extensions                 4.12.2
typing-inspect                    0.9.0
tyro                              0.8.13
tzdata                            2024.2
uri-template                      1.3.0
urllib3                           2.2.3
uvicorn                           0.32.0
uvloop                            0.21.0
validators                        0.34.0
vllm                              0.6.3.post1
watchdog                          5.0.3
watchfiles                        0.24.0
wcwidth                           0.2.13
webcolors                         24.8.0
webencodings                      0.5.1
websocket-client                  1.8.0
websockets                        12.0
Werkzeug                          3.0.4
wheel                             0.44.0
widgetsnbextension                4.0.13
xformers                          0.0.27.post2
XlsxWriter                        3.2.0
xtuner                            0.1.11
xxhash                            3.5.0
yapf                              0.40.2
yarl                              1.16.0
zipp                              3.20.2
